node_modules
.next
.vercel
.tools
data/generated/*
!data/generated/game-sample.json
!data/generated/latest-prices.json
!data/generated/latest-prices-*.json
!data/generated/price-history.json
!data/generated/price-history-*.json
out
dist
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo
console.log*

.vercel
.env*
!.env.example
